.listagemEmGrupo {
  margin: 14px;
  overflow: auto;
  display: flex;
  gap: 4px;
}

.listagemEmGrupo>div {
  border: none !important;
  padding: 0;
}

.listagemEmGrupo>div>div {
  align-items: center;
}

.font {
  font-size: 10px !important;
}


.fotoPerfilStory {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid rgb(216, 34, 49);
}


@media (min-width: 768px) {
  .fotoPerfilStory {

    width: 100px;
    height: 100px;

  }

  .font {
    font-size: 20px !important;
  }

  .listagemEmGrupo {
    justify-content: center;
    max-width: 50%;
  }

}